[Unit]
Description=webircproxy
After=network.target
# If you are using MySQL for history storage, comment out the above line
# and uncomment these two instead (you must independently install and configure
# MySQL for your system):
# Wants=mysql.service
# After=network.target mysql.service

[Service]
Type=notify
User=webircproxy
WorkingDirectory=/home/webircproxy
ExecStart=/home/webircproxy/webircproxy run --conf /home/webircproxy/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=1048576
NotifyAccess=main

[Install]
WantedBy=multi-user.target
